#if 0
Copyright (c) Microsoft Corporation. All Rights Reserved
#endif

#include "resource.h"
#include "winres.h"
#include <ntverp.h>
#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Inter APO"
#define VER_INTERNALNAME_STR            "InterAPO"
#define VER_ORIGINALFILENAME_STR        "InterAPO.Dll"
#include <Common.ver>

IDR_INTERAPODLL          REGISTRY                "InterAPODll.rgs"
IDR_INTERAPOMFX          REGISTRY                "InterAPOMFX.rgs"
IDR_INTERAPOSFX          REGISTRY                "InterAPOSFX.rgs"

// ICON
IDI_EFFECT_ICON			RCDATA					"InterAPO.png"

#if 1
1                       TYPELIB                 "InterAPODll.tlb"
#endif
